<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.aprsdroid.speaker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SpeakerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".APRSdroidReceiver" >
            <intent-filter>
                <action android:name="org.aprsdroid.app.SERVICE_STARTED" />
                <action android:name="org.aprsdroid.app.SERVICE_STOPPED" />
                <action android:name="org.aprsdroid.app.LINK_ON" />
                <action android:name="org.aprsdroid.app.LINK_OFF" />
                <action android:name="org.aprsdroid.app.POSITION" />
                <action android:name="org.aprsdroid.app.MESSAGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".SpeakerService" />
    </application>

</manifest>
